<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.wincom.actor.editor.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.wincom.actor.editor.app.Perspective"
            id="com.wincom.actor.editor.app.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.wincom.actor.editor.app.View"
            id="com.wincom.actor.editor.app.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="com.wincom.actor.editor.app.NavigationView"
            id="com.wincom.actor.editor.app.navigationView">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.wincom.actor.editor.app.application"
            name="Actor Editor">
         <property
               name="appName"
               value="Actor Editor">
         </property>
      </product>
   </extension>
   
</plugin>
